# requirements
준비물 : 아두이노 나노, 라즈베리파이, 점퍼선 및 진동(EMS) 모듈



# 아래 커멘드를 통해 필요한 파이썬 라이브러리를 다운받아주세요.
# 아나콘다 가상환경 이용을 권장드립니다.

conda install pytorch torchvision torchaudio cudatoolkit=10.2 -c pytorch
pip install opencv-python
pip install mediapipe
pip install easyocr
pip install jamo

# 오류가 발생하는 경우, 아래 커맨드를 실행해주세요.
pip uninstall opencv-python
pip uninstall opencv-python-headless
pip install opencv-python
pip install opencv-python-headless


